---
import NavLink from './NavLink.astro';
---

<header>
  <nav>
    <ul>
      <li><NavLink href="/">Home</NavLink></li>
      <li><NavLink href="/about">About</NavLink></li>
      <li><NavLink href="/portfolio">Portfolio</NavLink></li>
      <li><NavLink href="/contact">Contact</NavLink></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: #fff;
  }
</style>